*/2M0355/*
!model_spectrum.txt
!2M0355_corr_wl.txt
!2M0355_spectrum.txt
*/2M1425/*
!2M1425_spectrum.txt
*/test/*
!test_spectrum.txt
*/test_corr/*
!test_corr_spectrum.txt
prepare_spectrum*
atmosphere_objects*
atm_retrieval.egg*