*/CRIRES/2M0355/*
!model_spectrum.txt
!2M0355_corr_wl.txt
!2M0355_spectrum.txt
!2M0355_PT_Zhang2021.dat

*/CRIRES/2M1425/*
!2M1425_spectrum.txt

*/CRIRES/test/*
!test_spectrum.txt

*/CRIRES/test_corr/*

*/CRIRES/testsys/*
!testsys_spectrum.txt

*/CRIRES/SP0829/*

*/CRIRES/ROXs12A/*
!model_spectrum.txt
!ROXs12A_spectrum.txt
!ROXs12A_corr_wl.txt

*/CRIRES/ROXs12B/*
!ROXs12B_spectrum.txt

*/LIFE/Sorg1X/*
!Sorg1X_spectrum.txt
!Sorg1X_psg_input.txt

*/LIFE/Sorg20X/*
!Sorg20X_spectrum.txt

!test_corr_spectrum.txt
prepare_spectrum*
atmosphere_objects*
atm_retrieval.egg*
UltracoolSheet*
*/animation/*
animation/*
*/animation
*/figures/*