*/2M0355/*
!model_spectrum.txt
!2M0355_corr_wl.txt
!2M0355_spectrum.txt

*/2M1425/*
!2M1425_spectrum.txt

*/test/*
!test_spectrum.txt

*/test_corr/*

*/SP0829/*

*/ROXs12A/*
!ROXs12A_spectrum.txt

*/ROXs12B/*
!ROXs12B_spectrum.txt

!test_corr_spectrum.txt
prepare_spectrum*
atmosphere_objects*
atm_retrieval.egg*
UltracoolSheet*
CMD*
*/animation/*
animation/*
*/animation